page-flat-details {

  .heading {
    font-size: 1.25em;
  }

  .heading-score {
    font-size: 1.75em;
    font-weight: bold;
  }

  .review-score {
    font-size: 0.75em;  
  }

  .emoji {
    padding-right: 0.5em;
  }

}
