page-results {
<<<<<<< HEAD

  .bigger {
    font-size: 150%;
  }

  .test {
    padding: 0;
  }

=======
>>>>>>> 2eb9544222ec30b9ab7ad748a69743a931bf840a
  .nolistings {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 3em !important;
    color: rgba(0,0,0,0.8);
  }
}
