page-results {

  .bigger {
    font-size: 150%;
  }

  .test {
    padding: 0;
  }

  .nolistings {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 3em !important;
    color: rgba(0,0,0,0.8);
  }
}
