page-results {

  .bigger {
    font-size: 150%;
  }

  .test {
    padding: 0;
  }

  .nolistings {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 3em !important;
    color: rgba(0,0,0,0.8);
  }

  ion-card.listing {
    display: inline-block;
    font-size: 150%;
    ion-card-content {
      font-size: 1.8rem;
      color: initial;
    }
    @media #{$mobile} {
      width: calc(100% - 20px);
    }
    @media #{$tablet} {
      width: calc(50% - 20px);
    }
    @media #{$big_tablet} {
      width: calc(33.33% - 20px);
    }
    @media #{$laptop} {
      width: calc(33.33% - 20px);
    }
    @media #{$desktop} {
      width: calc(25% - 20px);
    }
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      @media #{$laptop} {
        height: 220px;
      }
      @media #{$desktop} {
        height: 280px;
      }
    }
  }
}
