page-home {

  ion-grid, ion-row {
    height: 100%;
  }

  h1 {
    font-size: 3em;
    font-family: "Roboto";
    line-height: 50%;
    padding-bottom: 0.25em;
  }

  ion-content {
    background-image: url("../../assets/imgs/bg1.png");
  }

  h1 {
    color: map-get($colors, primary);
    font-weight: 700;
  }

  .bold {
    font-family: "Roboto";
    margin-top: 1em;
    font-weight: 700;
    font-size: 1.2em;
  }

}
