body {
  
  background-color: rgba(40,70,120,0.8);
  margin: 0;
  display:flex;
  justify-content:center;
  align-items:center;

  #marge {
    width: 50vw;
    height: 50vh;
    transform: translateX(-50%) translateY(-50%);
    animation: spin 3s infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

}