// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: "Roboto Light";
}

$small_mobile: "screen and (max-width:340px)";
$mobile: "screen and (max-width:768px)";
$not_mobile: "screen and (min-width:768px)";
$tablet: "screen and (min-width:768px) and (max-width:991px)";
$big_tablet: "screen and (min-width:991px) and (max-width:1200px)";
$laptop: "screen and (min-width:1200px) and (max-width:1600px)";
$desktop: "screen and (min-width:1600px)";
$browser: "screen and (min-width:1200px)";
$device: "screen and (max-width:1200px)";

ion-content {
  background-image: url("../../assets/imgs/bg2.png");
  background-size: cover;
}

.heading-score {
  font-size: 1.75em;
  font-weight: bold;
}

.toolbar > .toolbar-background {
  background-color: map-get($colors, primary);
}
.toolbar > .toolbar-content, .toolbar .toolbar-title,  .toolbar > .bar-button {
  color: #fdfdfd !important;
}
