page-search {
  .search-btn {
    background-color: map-get($colors, secondary);
    font-weight: 700;
    width: 100%;
    border-radius: 0.5em;
  }
  .search-btn-pos {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
